@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #ffdfe1;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 70%;
    height: 80vh;
    background-color: #fffcfc;
    border-radius: 15px;
    display: flex;
    /* align-items: center; */
    margin: auto;
}
#direita{
    /* padding: 9px; */
    width: 100%;
    flex-grow: 1;
    height: 100%;
}
#container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
#direita h1{
    font-family: "Noto Serif Oriya", serif;
    font-size: xx-large;
    color: #ff91b2;
    margin-top: 9px;
}
#direita table{
    width: 100%;
    height: 55%;
    margin-bottom: 9px;
    border-collapse: collapse;
}
table th{
    background-color: #ffb2c1;
    color: #3c363b;
}
table th:nth-child(1){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #e30075;
}
table th:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #e30075;
}
table td{
    width: 10%;
    text-align: center;
    padding: 3px;
    color: #3c363b;
   
}
table td:hover{
    background-color: #d8d8d8;
    border-radius: 20px;
    font-weight: 600;
}
table td:nth-child(1), td:nth-child(7){
    color: #e30075;
}
.diaAtual{
    background-color: #ff91b2;
    border-radius: 20px;
    font-weight: 600;
    color:#3c363b
}
#ano{   
    text-align: right; 
}
#mes{
    text-align: center;
}